[package]
name = "gui"
version = "0.1.0"
edition = "2021"

[dependencies]
core = { path = "../core" }
eframe = { workspace = true }
egui_extras = { workspace = true }
image = { workspace = true }
anyhow = { workspace = true }